
/*
 * Colors
 */

/* Reset */
html, body
{
 margin: 0;
 padding: 0;
 border: 0;
}

body
{
 font-family:Arial,  sans-serif;
 line-height:1.5;
 font-size:16px;
 background: #fff;
 padding:5px;
 color: #000;
 word-wrap: break-word;
 -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6{ font-weight: normal; }

p img { float: left; margin: 0 10px 5px 0; padding: 0; }

img { border: 0; max-width: 100%; }

table { width:auto; border-collapse: collapse;border-spacing: 0; }


/*
 * Global
 */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
h1, h2, h3, h4, h5 {
  margin-top: 0;
}
h1 { margin-bottom: 0px; }


/*
 * Main
 */
body {
  padding:0;
  width: 100%;
}
#wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  -moz-box-shadow: 0px 0px 8px #ccc;
  -webkit-box-shadow: 0px 0px 8px #ccc;
  box-shadow: 0px 0px 8px #ccc;
}
nav {
  height: 25px;
  background: #373737;
}
